 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">PhD of Management</h4>
    <h5 class="meta">Dalian University of Technology</h5>
    <div class="time">2008 - 2013</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Bechelor of Information Management</h4>
    <h5 class="meta">Dalian University of Technology</h5>
    <div class="time">2002 - 2006</div>
</div><!--//item-->
</div><!--//education-container-->
